@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-VariableFont.woff2') format('woff2-variations');
    src: url('../fonts/NunitoSans-VariableFont.woff2') format('woff2') tech('variations');
    font-weight: 300 700;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-VariableFont.woff2') format('woff2-variations');
    src: url('../fonts/WorkSans-VariableFont.woff2') format('woff2') tech('variations');
    font-weight: 300 600;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35;
    color: #0e0d0d;
    background-color: #fdfdf0;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-big {
    max-width: 1840px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
}

.menu__list {
    display: flex;
    gap: 0 30px;
}

.menu__link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #0e0d0d;
    text-decoration: none;
    padding-bottom: 6px;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: #b28f45;
}

.wheat-icon {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 100px;
    height: 30px;
    pointer-events: none;
}

.menu__link:hover .wheat-icon {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.header__contacts {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #0e0d0d;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header__contacts::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #ffffff44, #ffffff22);
    transition: left 0.4s ease;
    z-index: 0;
}

.header__contacts:hover::before {
    left: 100%;
}

.header__contacts:hover {
    color: #b28f45;
}

.logo:focus, .menu__link:focus,
.header__contacts:focus {
    outline: 2px dashed #b28f45;
    outline-offset: 4px;
}

.about {
    margin-bottom: 180px;
}

.about__top {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fdfdf0;
    background-image: image-set(url("../images/about-bg.avif") type("image/avif"),
            url("../images/about-bg.webp") type("image/webp"),
            url("../images/about-bg.jpg") type("image/jpeg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 748px;
    border-radius: 20px;
}

.about__title {
    font-weight: 600;
    font-size: 250px;
    line-height: 0.9;
    padding-top: 85px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.about__text-wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 16px 24px;
    border-radius: 12px;
    display: inline-block;
}

.about__text {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    color: #082618;
}

.about__achievements {
    display: flex;
    justify-content: space-between;
    gap: 260px;
    margin-top: -55px;
    margin-bottom: 90px;
}

.about__achievement {
    display: flex;
    gap: 0 25px;
    max-width: 580px;
    padding: 14px 10px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: #f4f4e7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.about__achievement:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.about__achievement-imgbox {
    min-width: 214px;
    position: relative;
}

.about__achievement-arrow {
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 5px;
}

.about__achievement-title {
    font-weight: 500;
    color: #000;
    padding-top: 10px;
    margin-bottom: 20px;
}

.about__achievement-text {
    font-weight: 300;
    font-size: 14px;
}

.text--bold {
    font-weight: 600;
}

.text--color {
    font-weight: 600;
    color: #f2a531;
}

.about__stats {
    display: flex;
    justify-content: space-between;
    gap: 0 90px;
    padding: 30px 20px;
    margin-bottom: 70px;
    border-radius: 20px;
    background-color: #f4f4e7;
}

.about__stats-item {
    width: 265px;
    text-align: center;
    padding: 20px 0px;
}

.about__stats-item dt {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #000;
    margin-bottom: 15px;
}

.about__stats-item dd {
    margin: 0;
    font-size: 22px;
    line-height: 1.27;
    color: rgba(14, 13, 13, 0.71);
}

.about__progress-text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.17;
    color: rgba(14, 13, 13, 0.84);
    margin-bottom: 40px;
}

.about__progress-box {
    display: flex;
    gap: 140px;
}

.about__progress-img {
    width: 100%;
    min-width: 340px;
    border-radius: 10px;
}

.about__progress-tablebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__progress-boxtext {
    font-weight: 300;
    font-size: 18px;
    color: #0e0d0d;
    padding-right: 50px;
    margin-bottom: 45px;
}

.about__progress-table {
    border-top: 1px solid rgba(14, 13, 13, 0.23);
}

.about__progress-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(14, 13, 13, 0.23);
}

.about__progress-item dt {
    font-size: 18px;
    font-weight: 500;
}

.about__progress-item dd {
    opacity: .71;
}